#root {
  text-align: center;
  min-width: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Colores base para el tema claro */
.tema-claro {
  --fondo: #ffffff;
  --texto: #213547;
  --color-tarjeta: #f9f9f9;
  --enlace: #646cff;
  background-color: var(--fondo);
  color: var(--texto);
}

/* Colores base para el tema oscuro */
.tema-oscuro {
  --fondo: #242424;
  --texto: rgba(255, 255, 255, 0.87);
  --color-tarjeta: #1a1a1a;
  --enlace: #747bff;
  background-color: var(--fondo);
  color: var(--texto);
}

/* Modificamos tus clases existentes para que usen las variables */


.card {
  padding: 2em;
  background-color: var(--color-tarjeta);
  border-radius: 8px;
}

a {
  color: var(--enlace);
}